* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #e7deff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.h1 {
    text-align: center;
    animation: color-cycle 5s infinite linear;
    font-size: 2.5em;
    margin-bottom: 20px;
}

@keyframes color-cycle {
    0% {
        color: red;
    }
    14% {
        color: orange;
    }
    28% {
        color: yellow;
    }
    42% {
        color: green;
    }
    57% {
        color: blue;
    }
    71% {
        color: indigo;
    }
    85% {
        color: violet;
    }
    100% {
        color: red;
    }
}

.tin-tuc {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10vh auto;
    margin-left: 10%;
    width: 70%;
    height: auto;
    max-width: 700px;
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    float: left;
    position: relative;
    overflow: hidden;
}

.tin-tuc::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(45deg, rgba(255, 0, 150, 0.3), rgba(0, 229, 255, 0.3));
    z-index: -1;
    transition: opacity 0.6s ease;
    opacity: 0;
    border-radius: 50%;
    animation: rotate-bg 5s infinite linear;
}

@keyframes rotate-bg {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.tin-tuc:hover::before {
    opacity: 1;
}

.tin-tuc:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.tin-tuc h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.tin-tuc:hover h2 {
    color: #ff0096;
}

.tin-tuc p {
    color: #666;
    font-size: 14px;
    margin-bottom: 10px;
}

.tin-tuc .hinh-anh img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.tin-tuc:hover .hinh-anh img {
    transform: scale(1.01);
}

.video {
    margin-top: 20px;
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
}

.video video {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.video:hover video {
    transform: scale(1.05);
}

.video video:focus {
    outline: none;
}

@media (max-width: 768px) {
    .tin-tuc {
        width: 90%;
    }
    .video {
        width: 90%;
    }
}

.snowflake {
    position: fixed;
    top: -10px;
    z-index: 9999;
    user-select: none;
    pointer-events: none;
    color: white;
    font-size: 1em;
    animation: fall linear infinite;
  }
  
  @keyframes fall {
    0% { transform: translateY(-10px) translateX(0); }
    100% { transform: translateY(100vh) translateX(20px); }
  }